* {
  font-family: "Inter", sans-serif !important;
}

body::-webkit-scrollbar {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
  background: white;
}

#certificates .certificate {
  margin: 10px;
  text-align: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}

@media screen and (max-width: 1023px) {
  .inp {
    padding: 0 5px;
  }
  input {
    border-radius: 5px !important;
  }
}
